{% load i18n admin_urls %}
<div class="form-actions row">
  <div class="col">
    {% if show_delete_link %}
      {% url opts|admin_urlname:'delete' original.pk|admin_urlquote as delete_url %}
      <div class="delete-link-box">
        <a href="{% add_preserved_filters delete_url %}" class="btn btn-danger">{% trans "Delete" %}</a>
      </div>
    {% endif %}
    <span class="d-sm-none"><hr/></span>
  </div>
  <div class="col-xs-12 col-md-6 text-lg-end text-xl-end save-options-box">
    <a href="{% url opts|admin_urlname:'changelist' %}" class="btn btn-secondary">{% trans "Cancel" %}</a>
    &nbsp;&nbsp;
    <input type="submit" value="{% trans 'บันทึก' %}" name="_save" {{ onclick_attrib }} class="btn btn-primary"/>
  </div>
</div>